.container-fluid {
    text-align: center;
    background-color: #bb002f;
}
.container-fluid a:hover{
    background-color: #ffffffcf;
    overflow: hidden;
}
.container-fluid a:active{
    background-color: #4d0013;
    color: #ffffffcf ;
}
#cart {
    text-decoration: none;
    color: black;    
}
#background {
    background-color: #cd0033;
    padding: 0%;
}
#nav {
    padding: 0%;
    border: 4px solid black;
    padding: 5px;
}
p{
    font-family: 'Play', sans-serif;
}
img{ 
    object-fit: scale-down;
}
.navbar-brand {
    box-sizing: border-box;
}
#p1 {
    margin: 0%;
}
.row {
    background-color:#008060;
}