.container-fluid {
    text-align: center;
    background-color: #bb002f;
}
h6 {
    font-family: 'Play', sans-serif;
}
.logo {
    width: 57px;
    height: 50px;
}
.cart {
    width: 10%;
    height: 10%;    
}
img{ 
    object-fit: scale-down;
}
.navbar-brand {
    box-sizing: border-box;
}
.welcome {
    background-color: #e4e4a1;
}
#p1 {
    margin: 0%;
}
.row {
    background-color: #fafad7;
}